*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    color: red;
    text-align: center;
}

#grigliaNumerica {
    width: 700px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid black; */

}

.numberBox {
    width: 70px;
    height: 70px;
    padding: 5px;
    text-align: center;
    background-color: red;
    vertical-align: middle;
    line-height: 70px;
    border: 5px solid black;
}

.fizz{
    background-color: yellow;
}

.buzz{
    background-color: orange;
}

.fizzbuzz{
    background-color: green;
}